<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Challenges</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div id="game-container">
    <section class="game-screen active" id="challenges-screen">
        <h1 class="screen-title">Challenges <span class="emoji">🧘‍♀️🧘</span></h1>
        <a class="mode-button normal-mode-option" href="#">Normal Mode <span class="emoji">🤖</span></a>
        <a class="mode-button speed-challenge-option" href="#">Speed Challenge <span class="emoji">⚡</span></a>
        <a class="back-button fixed-bottom-left-button" th:href="@{/}">Back<span class="emoji">⬅️</span></a>
    </section>
</div>
</body>
</html>