<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Brain Tease</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div id="game-container">
    <section class="game-screen active" id="main-menu">
        <h1>Brain Tease <span class="emoji">🧠</span></h1>
        <nav class="main-menu-options">
            <a class="menu-button" id="play-button" th:href="@{/challenges}">Play <span class="emoji">🕹️</span></a>
            <a class="menu-button" id="highscores-button" th:href="@{/leaderboard}">Highscores <span
                    class="emoji">🏆</span></a>
            <a class="menu-button" id="settings-button" th:href="@{/settings}">Settings <span class="emoji">🔧</span></a>
        </nav>
    </section>
</div>
</body>
</html>